---
layout: page
title:  Research Projects
permalink: /archive/
---

<body style="width: 1000px">
<font size="+1"></font>
<br><br>

<img src="{{site.baseurl}}/img/fandom_meme.jpg" width="150">
<br><br>

Fanfiction is a special kind of cultural products of our time. This project studies the relationship between novelty and success of fanfictions online. I collected near 4 million fanfictions from a well-known fanfiction archive, and used TF-IDF and LDA to quantify the term-level and topic-level novelty of fictions. Diverging from the popular theory that people favor an optimal balance between sameness and novelty, we found that the readers mostly prefer familiar fanfictions, while rare high novelty fanfictions may achieve success. Our results imply that cultural evolution may punctuated equilibrium rather than a smooth evolution.
<br>
Code for this project: <a href="https://github.com/yzjing/ao3">https://github.com/yzjing/ao3</a>
<br>
The paper is currently in review for ICWSM 2019. A preliminary manuscript can be viewed <a href="https://drive.google.com/file/d/16-mYSNAFSZkNedpSdNAB-PtF2DYuJ60B/view?usp=sharing">here</a>. (Note: Please do not share without asking.)
<br><br><br>


<br><br>
<font size="+1">The LinkedIn Economic Graph Challenge</font>
<br><br>
<img src="{{site.baseurl}}/img/EG-Challenge-Blog-Post.jpeg" width="300">
<br><br>
As one of the 11 winning teams of the 2015 
<a href="https://blog.linkedin.com/2015/05/11/announcing-winners-of-the-linkedin-economic-graph-challenge">
LinkedIn Economic Graph Challenge</a>
, our team analyses the labor flow network, a large network of labor flow between more than 500 million companies, that we constructed from LinkedIn user profiles. We ran a community detection algorithm to identify hierarchical community structures from the network, and propose that the communities, which we name micro-industries, are important units that help us understand the organization of the global economy.
<br><br>
<a href="https://arxiv.org/abs/1902.04613">Arxiv: 1902.04613</a>
<br><br><br>

<br><br>
<font size="+1"> Character Interaction Networks in Movies </font>
<br><br>
<img src="{{site.baseurl}}/img/movies.jpg" width="300">
<br><br>
This project was done when I was at the <a href="http://tuvalu.santafe.edu/events/workshops/index.php/Complex_Systems_Summer_School_2016">2016 Complex Systems Summer School</a> hosted by the 
<a href="https://www.santafe.edu/">Santa Fe Institute</a>. Using a unique dataset of Hollywood movies, we constructed character interaction networks in each movie based on the characters' co-appearance on screen. We found that the features of these networks reliably predicts genre and other film attributes, such as critical reception. 
<br>
We also used the data to characterize how gender roles in movies have evolved over the last 50 years. Our analysis show that different statistical attributes (e.g., network centrality, screen time) are equalizing at vastly different rates, and that full gender equalization will take >80 years if current trends continue.
<br>
Because of a data sharing permission issue, we chose not to publish the results from this project. A draft can be viewed <a href="{{site.baseurl}}/doc/hidden-signals-hollywood.pdf">here</a>.
<br><br><br>


<br>
<font size="+1">Mission Alignment of Chinese Nonprofit Organizations</font>
<br><br>

Nonprofit organizations often have their specific missions, but their activities do not always align with their missions, resulting in a managerial problem termed as "mission drift."" This project develops innovative measures to operationalize “mission alignment” using text mining methods and examines how different revenue sources influence the mission alignment of Chinese foundations. Results show that personal donation and service revenue can increase mission alignment, while organizational donation and membership dues decrease mission alignment. 
<br><br>
Ma, J., Jing, Y., & Han, J. (2017). Predicting Mission Alignment and Preventing Mission Drift: How Revenue Sources Matter?. <a href="https://cpar.net/index.php/cpar/article/view/173">https://cpar.net/index.php/cpar/article/view/173</a>
<br><br><br>


<font size="+2"><b>Earlier and Personal Projects</font></b>
<br><br>
<font size="+1">The Philosophy of AI and Mind</font>
<br><br>
The ultimate goal of AI researchers is to create machines with intelligence that equals to, or surpasses, human mind. However, the approaches to this goal are never uniform. Shall we create AI by simulating the human mind? Nowadays, most researchers in AI are not very interested in how the mind works, and the mainstream approaches to AI do not intentionally simulate humans' cognitive processes; similarities, if exist, are on an abstract level. However, there are still some heretics that insist on building "real" AI by making it work like the human minds do.
<br>
I had a chance to explore this topic in the <a href="http://pages.iu.edu/~colallen/Courses/Q540/">very cool course with Professor Colin Allen</a>. The outcome is a review paper that can be viewed 
<a href="{{site.baseurl}}/doc/philosophy_of_ai_paper.pdf">here</a>.
<br><br><br>

<!-- 
<font size="+1">A Mini Java game</font>
<br><br>
<img src="{{site.baseurl}}/img/longcatbounce.gif" width="200">
<br><br>

In the summer of 2017 I took the chance to learn some Java. It was interesting, although not yet very useful for me, and I developed a tiny game just for fun. It was inspired by the awesome <a href="http://cat-bounce.com/">Cat Bounce</a>, and can be captured in the gif above.
<br>
The source code is <a href="https://github.com/yzjing/LongCatBounce">here</a>.
<br><br><br>
 -->

<font size="+1">A Network approach to <i>The Silmarillion</i></font>
<br><br>
<img src="{{site.baseurl}}/img/silm_network.png" width="200">
<br><br>
There has been some studies on <a href="https://arxiv.org/abs/1205.4324">the social networks of mythological narratives</a>, and as a fan of J.R.R.Tolkien’s Middle-Earth, I decided to do a leisure-time project with his posthumous work <i>The Silmarillion</i>. A social network was constructed from the book based on the character's interpersonal relations. Analysis found typical features of an artificial social network. More interestingly, it was found that character-wise, a higher centrality in the network is a positive indicator of the character's popularity among fans, e.g., appearing in more fanfictions.
<br><br><br>

<font size="+1">Cooperative Games in an Extended Lattice Gas Model</font>
<br><br>
The formation of cooperation is a classical topic in evolutionary game theory. This project simulates a game between two species on an extended lattice gas model, with parameters including the species’ birth rates, death rates, and the benefits and costs of cooperation. The results of the simulation are passed to a replicator equation in order to study the choice of cooperation of individuals with the ability of learning. We show that the choice of cooperation is influenced both by the environmental parameters, and the benefts and costs of cooperation. If certain conditions are met, choosing cooperation can become the evolutionary stable strategy.
<br>
This research is my thesis for major in Information Science. The thesis can be found <a href="{{site.baseurl}}/doc/bs_paper.pdf">here</a>. (Note: content in Chinese)

<br><br><br>

<font size="+1">Religious Practices in Interethnic Families in North Tibet-Yi Corridor</font>
<br><br>
<img src="{{site.baseurl}}/img/sichuan.jpg" width="300">
<br><br>

Religious difference is an important factor in the formation of marriages. It is traditionally believed that religious differences has a negative effect on the formation of interethnic marriages; and in existing interethnic families, these differences generally persist. However, our research found that religious difference doesn’t act as a key factor that prevents the marriage of two individuals from different ethnic groups; and in existing interethnic families, a mechanism is established to recognize and resolves such differences. As a result, interethnic families develop a reshaped "habitus" marked by a special set of values, attitudes and life style influenced by their merged spirituality. 
<br>
This research is my thesis for B.A. in Anthropology. The paper can be viewed  
<a href="{{site.baseurl}}/doc/ba_paper.pdf">here</a>.
<br><br>

</body>

<!-- 

<div class="archive">
  <div class="timeline" id="timeline">
    {% for post in site.posts %}
    {% unless post.next %}
    <div class="archive-title">
      <h4 class="archive-year">{{ post.date | date: '%Y' }}</h4>
    </div>

    <ul>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% if year != nyear %}
    </ul>
    <div class="archive-title">
      <h4 class="archive-year">{{ post.date | date: '%Y' }}</h4>
    </div>

    <ul>
    {% endif %}
    {% endunless %}
    <li>
      <div style="width:60px;float:left;">{{ post.date | date: "%b %-d" }}</div> <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>

  </div>

</div>
 -->