---
layout: page
title:  Research
permalink: /archive/
---

<body>
<br>
<font size="+1">The LinkedIn Economic Graph Challenge</font>
<br>
<br>

<img src="{{site.baseurl}}/img/EG-Challenge-Blog-Post.jpeg" width="300">
<br>
<br>

As one of the 11 winning teams of the 2015 
<a href="https://blog.linkedin.com/2015/05/11/announcing-winners-of-the-linkedin-economic-graph-challenge">
LinkedIn Economic Graph Challenge</a>
, our team analyses the labor flow network, a large network with more than 300 million nodes, that we constructed from LinkedIn user profiles. We ran a community detection algorithm to identify hierarchical community structures from the network, and propose that the communities, which we name micro-industries, are important units that help us understand the organization of the global economy.
<br>
The project has been presented in poster form at the NetSci 2017, and orally at the CCS 2017. The poster can be viewed 
<a href="{{site.baseurl}}/doc/netsci_poster.pdf">here</a>

<br>
<br>
<br>

<font size="+1">Fanfictions, Authors and Readers</font>
<br>
<br>

<img src="{{site.baseurl}}/img/fandom_meme.jpg" width="150">
<br>
<br>

Fanfictions are a special kind of cultural products of our time. This project studies the relationship between novelty and success of fanfictions in fandoms. I collected near 1 million fanfictions from a well-known fanfiction archive, and utilized language models to model the texts. Using semantic distances to define the novelty of fictions, we found that the increasing novelty of a fiction has a negative impact on its success among its readers.
<br>
The work has been presented in poster form at the CCS 2017. The poster can be viewed <a href="{{site.baseurl}}/doc/ccs_poster.pdf">here</a>.
<br>
<br>
<br>

<font size="+1">The Philosophy of AI and Mind</font>
<br>
<br>
The ultimate goal of AI researchers is to create machines with intelligence that equals to, or surpasses, human mind. However, the approaches to this goal are never uniform. Shall we create AI by simulating the human mind? Nowadays, most researchers in AI are not very interested in how the mind works, and the mainstream approaches to AI do not intentionally simulate humans' cognitive processes; similarities, if exist, are on an abstract level. However, there are still some heretics that insist on building "real" AI by making it work like the human minds do.
<br>
I had a change to explore this topic in the <a href="http://pages.iu.edu/~colallen/Courses/Q540/">very cool course with Professor Colin Allen</a>. The outcome is a review paper that can be viewed 
<a href="{{site.baseurl}}/doc/philosophy_of_ai_paper.pdf">here</a>.
<br>

<font size="+1"> Character Interaction Networks in Movies </font>
<br>
<br>
<img src="{{site.baseurl}}/img/movies.jpg" width="300">
<br>
<br>
This project was done when I was at the <a href="http://tuvalu.santafe.edu/events/workshops/index.php/Complex_Systems_Summer_School_2016">2016 Complex Systems Summer School</a> hosted by the 
<a href="https://www.santafe.edu/">Santa Fe Institute</a>. Using a unique dataset of Hollywood movies, we constructed character interaction networks in each movie based on the characters' co-appearance on screen. We found that the features of these networks reliably predicts genre and other film attributes, such as critical reception. 
<br>
We also used the data to characterize how gender roles in movies have evolved over the last 50 years. Our analysis show that different statistical attributes (e.g., network centrality, screen time) are equalizing at vastly different rates, and that full gender equalization will take >80 years if current trends continue.

Because of a data sharing permission issue, we chose not to publish the results from this project. A draft can be viewed <a href="{{site.baseurl}}/doc/hidden-signals-hollywood.pdf">here</a>.

<br>


CN foundation
<a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2915677">here</a>
<br>


Java game
<br>
<br>
<img src="{{site.baseurl}}/img/longcatbounce.gif" width="200">
<br>

<a href="https://github.com/yzjing/LongCatBounce">here</a>

<br>

Silm network
<br>

<img src="{{site.baseurl}}/img/silm_network.png" width="200">

<br>

BS thesis
<br>

<a href="{{site.baseurl}}/doc/bs_paper.pdf">here</a>

<br>

BA thesis
<br>

<a href="{{site.baseurl}}/doc/ba_paper.pdf">here</a>
<br>

</body>




<!-- This blog keeps an archive of things that I wrote, made or studied. Topics include AI, natural language processing and programming (with their overlappings). 

<div class="archive">
  <div class="timeline" id="timeline">
    {% for post in site.posts %}
    {% unless post.next %}
    <div class="archive-title">
      <h4 class="archive-year">{{ post.date | date: '%Y' }}</h4>
    </div>

    <ul>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% if year != nyear %}
    </ul>
    <div class="archive-title">
      <h4 class="archive-year">{{ post.date | date: '%Y' }}</h4>
    </div>

    <ul>
    {% endif %}
    {% endunless %}
    <li>
      <div style="width:60px;float:left;">{{ post.date | date: "%b %-d" }}</div> <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>

  </div>

</div>
 -->